<nav class="nav">
    <h1><a routerLink="/">My_Store</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input #searchInput (keyup)="searchProduct($event)" (blur)="hideSearch()" type="text" placeholder="search for products">
        <button (click)="submitSearch(searchInput.value)">search</button>
        <ul class="sugested-result" *ngIf="searchresult">
            <li *ngFor="let item of searchresult">
                <a (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/seller-auth">seller</a></li>
            <li><a routerLink="/user-auth">
                User-Acess</a></li>
            <li><a href="">Cart(0)</a></li>
        </ul>
        <!-- <ul *ngSwitchCase="'user'">
            <li><a routerLink="/">home</a></li>
            <li><a  routerLink="/seller-auth">seller</a></li>
            <li><a (click)="userLogout()">
                Logout</a></li>
            <li><a routerLink="/user-auth">
                {{UserName | titlecase}}</a></li>
            <li><a href="">Cart(0)</a></li>
        </ul> -->
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-hoome">Product-List</a></li>
            <li><a routerLink="/seller-add-product">Add Products</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a href="">{{sellerName | titlecase}}</a></li>
        </ul>
    </div>
</nav>
